USE [master]
GO
/****** Object:  Database [ViecLamIT]    Script Date: 6/17/2020 4:43:45 PM ******/
CREATE DATABASE [ViecLamIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ViecLamIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ViecLamIT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ViecLamIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ViecLamIT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ViecLamIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ViecLamIT]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KyNang]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyNang](
	[MakyNang] [int] IDENTITY(1,1) NOT NULL,
	[TenKyNang] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KyNang] PRIMARY KEY CLUSTERED 
(
	[MakyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KyNang_TuyenDung]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyNang_TuyenDung](
	[MaTuyenDung] [int] NOT NULL,
	[MaKyNang] [int] NOT NULL,
 CONSTRAINT [PK_KyNang_TuyenDung_1] PRIMARY KEY CLUSTERED 
(
	[MaTuyenDung] ASC,
	[MaKyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung_TuyenDung]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung_TuyenDung](
	[MaNguoiDung] [int] NOT NULL,
	[MaTuyenDung] [int] NOT NULL,
	[NgayNopDon] [datetime] NULL,
 CONSTRAINT [PK_NguoiDung_TuyenDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaTuyenDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoan] [nvarchar](20) NULL,
	[MatKhau] [nvarchar](20) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinNguoiDung]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](30) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[QueQuan] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[ViTriChucVu] [nvarchar](50) NULL,
	[SoNamKinhNghiem] [int] NULL,
	[CapBac] [nvarchar](20) NULL,
	[TrinhDoHocVan] [nvarchar](20) NULL,
 CONSTRAINT [PK_ThongTinNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinNhaTuyenDung]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNhaTuyenDung](
	[MaCongTy] [nvarchar](50) NOT NULL,
	[TenCongTy] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongTinNhaTuyenDung] PRIMARY KEY CLUSTERED 
(
	[MaCongTy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinTuyenDung]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinTuyenDung](
	[MaTuyenDung] [int] IDENTITY(1,1) NOT NULL,
	[MaCongTy] [nvarchar](50) NULL,
	[MaChucVu] [int] NULL,
	[CapBac] [nvarchar](20) NULL,
	[MoTaCongViec] [nvarchar](1000) NULL,
	[YeuCauCongTy] [nvarchar](1000) NULL,
	[MucLuong] [nvarchar](20) NULL,
	[HanNopDon] [datetime] NULL,
 CONSTRAINT [PK_ThongTinTuyenDung] PRIMARY KEY CLUSTERED 
(
	[MaTuyenDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (1, N'Project Manager')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (2, N'Tester QA QC')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (3, N'Senior Mobile Developer')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
SET IDENTITY_INSERT [dbo].[KyNang] ON 

INSERT [dbo].[KyNang] ([MakyNang], [TenKyNang]) VALUES (1, N'Android')
INSERT [dbo].[KyNang] ([MakyNang], [TenKyNang]) VALUES (2, N'AngularJS')
INSERT [dbo].[KyNang] ([MakyNang], [TenKyNang]) VALUES (3, N'ASP.NET')
SET IDENTITY_INSERT [dbo].[KyNang] OFF
INSERT [dbo].[KyNang_TuyenDung] ([MaTuyenDung], [MaKyNang]) VALUES (1, 22)
INSERT [dbo].[KyNang_TuyenDung] ([MaTuyenDung], [MaKyNang]) VALUES (1, 32)
INSERT [dbo].[KyNang_TuyenDung] ([MaTuyenDung], [MaKyNang]) VALUES (1, 45)
INSERT [dbo].[NguoiDung_TuyenDung] ([MaNguoiDung], [MaTuyenDung], [NgayNopDon]) VALUES (1, 3, CAST(N'2020-03-24 00:00:00.000' AS DateTime))
INSERT [dbo].[NguoiDung_TuyenDung] ([MaNguoiDung], [MaTuyenDung], [NgayNopDon]) VALUES (1, 15, CAST(N'2020-04-16 00:00:00.000' AS DateTime))
INSERT [dbo].[NguoiDung_TuyenDung] ([MaNguoiDung], [MaTuyenDung], [NgayNopDon]) VALUES (3, 5, CAST(N'2020-03-15 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (1, N'tranvana123', N'123456')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (2, N'nguyenvanb123', N'123456')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (3, N'lethic123', N'123456')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[ThongTinNguoiDung] ON 

INSERT [dbo].[ThongTinNguoiDung] ([MaNguoiDung], [HoVaTen], [MaTaiKhoan], [GioiTinh], [NgaySinh], [QueQuan], [DiaChi], [SoDienThoai], [ViTriChucVu], [SoNamKinhNghiem], [CapBac], [TrinhDoHocVan]) VALUES (1, N'Trần Văn A', 1, N'Nam', CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'Phú Yên', N'01 Nguyễn Văn Lương, Phường 10, Gò Vấp,Hồ Chí Minh', N'034 562 7513', N'Frontend Developer', 7, N'Trưởng phòng', N'Tiến sĩ')
INSERT [dbo].[ThongTinNguoiDung] ([MaNguoiDung], [HoVaTen], [MaTaiKhoan], [GioiTinh], [NgaySinh], [QueQuan], [DiaChi], [SoDienThoai], [ViTriChucVu], [SoNamKinhNghiem], [CapBac], [TrinhDoHocVan]) VALUES (2, N'Nguyễn Văn B', 2, N'Nam', CAST(N'1991-01-02 00:00:00.000' AS DateTime), N'TP HCM', N'100 Trần Huy Liệu, Phường 15, Phú Nhuận, Hồ Chí Minh', N'093 628 2615', N'Android Developer', 4, N'Trưởng phòng', N'Thạc sĩ')
INSERT [dbo].[ThongTinNguoiDung] ([MaNguoiDung], [HoVaTen], [MaTaiKhoan], [GioiTinh], [NgaySinh], [QueQuan], [DiaChi], [SoDienThoai], [ViTriChucVu], [SoNamKinhNghiem], [CapBac], [TrinhDoHocVan]) VALUES (3, N'Lê Thị C', 3, N'Nữ', CAST(N'1992-01-03 00:00:00.000' AS DateTime), N'Thanh Hóa', N'162 Quang Trung, Phường 10, Gò Vấp, Hồ Chí Minh', N'021 871 8244', N'Backend Developer', 5, N'Trưởng phòng', N'Tiến sĩ')
SET IDENTITY_INSERT [dbo].[ThongTinNguoiDung] OFF
INSERT [dbo].[ThongTinNhaTuyenDung] ([MaCongTy], [TenCongTy], [DiaChi], [ThanhPho], [SoDienThoai], [Email]) VALUES (N'ABIVIN', N'ABIVIN', N'Phạm Hùng, Mễ Trì, Nam Từ Liêm', N'Hà Nội', N'097 663 8008', N'info@abivin.com')
INSERT [dbo].[ThongTinNhaTuyenDung] ([MaCongTy], [TenCongTy], [DiaChi], [ThanhPho], [SoDienThoai], [Email]) VALUES (N'ABTEM', N'AdNovum Vietnam', N'98 Đường Ngô Tất Tố, Phường 19, Bình Thạnh', N'Hồ Chí Minh', N'028 381 68200', N'info@adnovum.vn')
INSERT [dbo].[ThongTinNhaTuyenDung] ([MaCongTy], [TenCongTy], [DiaChi], [ThanhPho], [SoDienThoai], [Email]) VALUES (N'AITS', N'AITS Vietnam Airlines', N'270 Đường Bùi Hữu Nghĩa, Phường 1, Bình Thạnh', N'Hồ Chí Minh', N'190 098 9866', N'helpdesk.aits@vietnamairlines.com 
')
SET IDENTITY_INSERT [dbo].[ThongTinTuyenDung] ON 

SET IDENTITY_INSERT [dbo].[ThongTinTuyenDung] OFF
/****** Object:  Index [Unique_tk]    Script Date: 6/17/2020 4:43:45 PM ******/
ALTER TABLE [dbo].[ThongTinNguoiDung] ADD  CONSTRAINT [Unique_tk] UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KyNang_TuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_KyNang_TuyenDung_KyNang] FOREIGN KEY([MaKyNang])
REFERENCES [dbo].[KyNang] ([MakyNang])
GO
ALTER TABLE [dbo].[KyNang_TuyenDung] CHECK CONSTRAINT [FK_KyNang_TuyenDung_KyNang]
GO
ALTER TABLE [dbo].[KyNang_TuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_KyNang_TuyenDung_ThongTinTuyenDung] FOREIGN KEY([MaTuyenDung])
REFERENCES [dbo].[ThongTinTuyenDung] ([MaTuyenDung])
GO
ALTER TABLE [dbo].[KyNang_TuyenDung] CHECK CONSTRAINT [FK_KyNang_TuyenDung_ThongTinTuyenDung]
GO
ALTER TABLE [dbo].[NguoiDung_TuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_TuyenDung_ThongTinNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[ThongTinNguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NguoiDung_TuyenDung] CHECK CONSTRAINT [FK_NguoiDung_TuyenDung_ThongTinNguoiDung]
GO
ALTER TABLE [dbo].[NguoiDung_TuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_TuyenDung_ThongTinTuyenDung] FOREIGN KEY([MaTuyenDung])
REFERENCES [dbo].[ThongTinTuyenDung] ([MaTuyenDung])
GO
ALTER TABLE [dbo].[NguoiDung_TuyenDung] CHECK CONSTRAINT [FK_NguoiDung_TuyenDung_ThongTinTuyenDung]
GO
ALTER TABLE [dbo].[ThongTinNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinNguoiDung_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[ThongTinNguoiDung] CHECK CONSTRAINT [FK_ThongTinNguoiDung_TaiKhoan]
GO
ALTER TABLE [dbo].[ThongTinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinTuyenDung_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[ThongTinTuyenDung] CHECK CONSTRAINT [FK_ThongTinTuyenDung_ChucVu]
GO
ALTER TABLE [dbo].[ThongTinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinTuyenDung_ThongTinNhaTuyenDung] FOREIGN KEY([MaCongTy])
REFERENCES [dbo].[ThongTinNhaTuyenDung] ([MaCongTy])
GO
ALTER TABLE [dbo].[ThongTinTuyenDung] CHECK CONSTRAINT [FK_ThongTinTuyenDung_ThongTinNhaTuyenDung]
GO
/****** Object:  StoredProcedure [dbo].[TKTheoTenChucVuVaTenCongTy]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--run exec TKTheoTenChucVuVaTenCongTy 'Full Stack Developer'  --xuat thong tin khi tim kiem theo ten chuc vu
--run exec TKTheoTenChucVuVaTenCongTy 'Advesa Digital Solutions'  --xuat thong tin khi tim kiem theo ten cong ty
-- =============================================
CREATE PROCEDURE [dbo].[TKTheoTenChucVuVaTenCongTy] 
	-- Add the parameters for the stored procedure here
	@keywork nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	select a.MaTuyenDung ,b.MaCongTy,b.TenCongTy,b.ThanhPho,a.MucLuong,a.HanNopDon 
	from ThongTinTuyenDung a inner join ThongTinNhaTuyenDung b on a.MaCongTy = b.MaCongTy inner join ChucVu c on a.MaChucVu = c.MaChucVu
	where c.TenChucVu = @keywork or b.TenCongTy = @keywork
END


GO
/****** Object:  StoredProcedure [dbo].[TKThongTinTuyenDungTheoMaTuyenDung]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--run exec TKThongTinTuyenDungTheoMaTuyenDung 3
-- =============================================
CREATE PROCEDURE [dbo].[TKThongTinTuyenDungTheoMaTuyenDung]
	-- Add the parameters for the stored procedure here
	@key int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	select a.MaTuyenDung,b.MaCongTy,b.TenCongTy,b.ThanhPho,a.MucLuong,a.HanNopDon 
	from ThongTinTuyenDung a inner join ThongTinNhaTuyenDung b on a.MaCongTy = b.MaCongTy inner join ChucVu c on a.MaChucVu = c.MaChucVu
	where a.MaTuyenDung = @key
END

GO
/****** Object:  StoredProcedure [dbo].[XuatMaTuyenDungTheoTenKyNang]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- run exec XuatMaTuyenDungTheoTenKyNang 'HTML5'
-- =============================================
CREATE PROCEDURE [dbo].[XuatMaTuyenDungTheoTenKyNang] 
	-- Add the parameters for the stored procedure here
	@keywork nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	select a.MaTuyenDung,b.MakyNang,b.TenKyNang
	from KyNang_TuyenDung a inner join KyNang b on a.MaKyNang = b.MakyNang
	where b.TenKyNang = @keywork
END


GO
/****** Object:  StoredProcedure [dbo].[XuatTTinKyNangTheoMaTuyenDung]    Script Date: 6/17/2020 4:43:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--run exec XuatTTinKyNangTheoMaTuyenDung 3
-- =============================================
CREATE PROCEDURE [dbo].[XuatTTinKyNangTheoMaTuyenDung] 
	-- Add the parameters for the stored procedure here
	@key int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	select a.MaTuyenDung,b.MakyNang,b.TenKyNang
	from KyNang_TuyenDung a inner join KyNang b on a.MaKyNang = b.MakyNang
	where a.MaTuyenDung = @key
END


GO
USE [master]
GO
