<header>
    <div class="container">
        <div class="companies" >
            <h3 class="c-Name">Tên công ty</h3><hr>
            <p class="c-Address">Địa chỉ</p>
            <p class="c-city">Thành phố</p>
            <p class="c-phone">sdt</p>
            <p class="c-email">email</p>
        </div>
    </div>

    <div class="container">
        <div class="companies" >
            <h3 class="c-Name">Tên công ty</h3><hr>
            <p class="c-Address">Địa chỉ</p>
            <p class="c-city">Thành phố</p>
            <p class="c-phone">sdt</p>
            <p class="c-email">email</p>
        </div>
    </div>

    <div class="container">
        <div class="companies" >
            <h3 class="c-Name">Tên công ty</h3><hr>
            <p class="c-Address">Địa chỉ</p>
            <p class="c-city">Thành phố</p>
            <p class="c-phone">sdt</p>
            <p class="c-email">email</p>
        </div>
    </div>

    <div class="container">
        <div class="companies" >
            <h3 class="c-Name">Tên công ty</h3><hr>
            <p class="c-Address">Địa chỉ</p>
            <p class="c-city">Thành phố</p>
            <p class="c-phone">sdt</p>
            <p class="c-email">email</p>
        </div>
    </div>

    <div class="container">
        <div class="companies" >
            <h3 class="c-Name">Tên công ty</h3><hr>
            <p class="c-Address">Địa chỉ</p>
            <p class="c-city">Thành phố</p>
            <p class="c-phone">sdt</p>
            <p class="c-email">email</p>
        </div>
    </div>

    <div class="container">
        <div class="companies" >
            <h3 class="c-Name">Tên công ty</h3><hr>
            <p class="c-Address">Địa chỉ</p>
            <p class="c-city">Thành phố</p>
            <p class="c-phone">sdt</p>
            <p class="c-email">email</p>
        </div>
    </div>
</header>
